body, html {
	display: block;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #333;
}

#game_canvas {
	background-color: #222;
	display: block;
	margin: 0 auto;
}

@font-face {
	font-family: Komika;
	src: url(./../fonts/KOMIKAX_.ttf);
}

@font-face {
	font-family: Silkscreen;
	src: url(./../fonts/slkscr.ttf);
}